{{extend 'layout.html'}}

<link href="../static/css/jquery-ui.css" rel="stylesheet">

{{i=0}}
<h1>Frecuencia de visita</h1>
{{for cliente in clientes:}}
<div class="jumbotron" style="background-color:#0AF000;">
<h3>{{=cliente.nombre}}</h3>
{{=veces_anuales[i]}} dias al año
{{i=i+1}}
    <form method="post" action="{{=URL('cliente','ver_cliente')}}">
        <input type="text" value="{{=cliente.id}}" name="id" hidden>
        <input type="submit" value="Ver datos de {{=cliente.nombre}}">
    </form>
    <input type="submit" value = "Mandar promoción" class="btn btn-default">
 </div>
{{pass}}
