* {
    margin:0;
    padding:0,0,0,0;
}

body {
    background:#f2f2f2;
}

.main{
    width:90%;
    max-width:700 px;
    margin:20px auto;
}
.slides{
    width:100;
}
.slides img{
    width:100;
}
.slidesjs-pagination{
    background: #424242;
    list-style: none;
    overflow: hidden;
}
.slidesjs-pagination li{
    float:left;
}
.slidesjs-pagination li a{
    display:block;
    padding:10px 20px;
    color:#fff;
    text-decoration:none;
}
.slidesjs-pagination li a:hover{
	background: #000;
}
.slides .active{

	background: #000;
}

.slidesjs-navigation{
	background: #000;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	float: right;
}
h2{
    margin:0;
    padding:0;
}

#h{
    background: url(../images/2.jpg) 50% 0 no-repeat;
}

#section2{
    background: url(../images/caba1_2.jpg) 50% 0 no-repeat fixed;
}
#section3{
    background: url(../images/caba1-1.jpg) 50% 0 no-repeat fixed;
}
#h, #section2, #section3{
    min-height:715px;
    margin:0px auto;
    width:100%;
    max-width:1920px;
    position:relative;
    background-size:cover;
    -webkit-background-size:cover;
}
#section2, #section3{
    box-shadow:0 0 20px rgba(0,0,0,0.4);
}
/*jumbotron transparente*/
.jumbotron.transparente {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom:0px;
}
.jumbotron.transparente.principal {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom:0px;
}

.row.transparente {
    background: rgba(255,255,255,0.5)
}

.map-canvas{
    margin:0px;
    padding:0px;
}
