{{extend 'layout.html'}}

{{block header}}
 <header class="container-fluid background">
      <div class="jumbotron text-center" >
        {{if response.title:}}
          <h1>
              </br>
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}
{{block body}}
<link rel="stylesheet" href="{{=URL('static/css','estilos.css')}}">
<link rel="stylesheet" href="{{=URL('static/css','fonts.css')}}">
<div class ="main">
    <div class= "slides">
        <img src={{=URL('static/images','1.jpg')}}>
        <img src={{=URL('static/images','2.jpg')}}>
        <img src={{=URL('static/images','3.jpg')}}>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{{=URL('static/js','jquery.slides.js')}}"></script>
<script>
    $(function(){
      $(".slides").slidesjs({
      });
    });
  </script>
{{end}}
