{{extend 'layout.html'}}
<h1>Servicios</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <a data-toggle="modal" href="#rentaDeCabañas" class="thumbnail">
      <img src="{{=URL('static/images','caba1-1.jpg')}}" alt="100px">
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
      <a data-toggle="modal" href="#rentaDeCabañas"><h2>Renta de cabaña</h2></a>
      <div class="modal fade" id="rentaDeCabañas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Renta de cabañas</h4>
                  </div>
                  <div class="modal-body">
                      <p>Se dispone del servicio de renta de hospedaje en nuestras cómodas instalaciones.</p>
                      <p>Cada cabaña cuenta con 2 recámaras, baño, comedor, sala y cocina.</p>
                  </div>
                  <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><div class="row">
  <div class="col-sm-6 col-md-4">
    <a href="#tourTaberna" data-toggle="modal" class="thumbnail">
      <img src="{{=URL('static/images','caba1-1.jpg')}}" alt="Nada">
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
      <a href="#tourTaberna" data-toggle="modal"><h2>Tour en taberna Rústica</h2></a>
      <div class="modal fade" id="tourTaberna" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Tour en taberna rústica</h4>
                  </div>
                  <div class="modal-body">
                      <p>Dentro de nuestras instalaciones, enctontrará una taberna rústica, donde se muestra el proceso antiguo de la elaboración del mezcal.</p>
                  </div>
                  <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><div class="row">
  <div class="col-sm-6 col-md-4">
    <a href="#tourZonaArqueologica" data-toggle="modal" class="thumbnail">
      <img src="{{=URL('static/images','caba1-1.jpg')}}" alt="Nada">
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
      <a href="#tourZonaArqueologica" data-toggle="modal"><h2>Tour en zona arqueológica</h2></a>
      <div class="modal fade" id="tourZonaArqueologica" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Tour en zona arqueológica</h4>
                  </div>
                  <div class="modal-body">
                      <p>En el pueblo del Teul de González Ortega se encuentra ua zona arqueológica en el cerro del Teúl, en la cual se realizan recorridos diarios a turistas mostrando algunos cimientos de nuestra civilización</p>
                  </div>
                  <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><div class="row">
  <div class="col-sm-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="{{=URL('static/images','caba1-1.jpg')}}" alt="Nada">
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
      <a href="#"><h2>Renta de ponys</h2></a>
  </div>
</div><div class="row">
  <div class="col-sm-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="{{=URL('static/images','caba1-1.jpg')}}" alt="Nada">
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
      <a href="#"><h2>Etc...</h2></a>
  </div>
</div>
