{{extend 'layout.html'}}
    <link rel="stylesheet" href="/CabanasDonAurelio/static/css/estilos.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <section id="h" data-type="parallax-section" data-speed="10">
<strong>CABAÑAS DON AURELIO
      </strong><br>
      <br>
      LAS CABAÑAS DE DON AURELIO SE ENCUENTRAN DENTRO DE LAS INSTALACIONES DE LA FABRICA DE MEZCAL DE DON AURELIO,  <br>
      ESTÁN TOTALMENTE EQUIPADAS Y ACONDICIONADAS CON TODO LO NECESARIO PARA QUE USTED SE SIENTA COMO EN CASA.

      <br>
      <br>
      LO INVITAMOS CORDIALMENTE A EXTENDER SU ESTANCIA Y CONOCER TODO SOBRE EL  MEZCAL, ADEMAS DE DISFRUTAR  DE LOS ATRACTIVOS TURÍSTICOS QUE EL PUEBLO MÁGICO DEL TEÚL DE GONZÁLEZ ORTEGA LE OFRECE.<br>
      <br>
    </section>
    <section id="datos" data-type="parallax-section" data-speed="10">
    <div class="row">
        <div class="col-md-6">
    <strong>RESERVACIONES:</strong><br>
            <ul class="list-group">
                <li class="list-group-item active">Para hacer reservaciones comunícate con nosotros:</li>
                <li class="list-group-item">Al teléfono +52 (01) 4679527745</li>
                <li class="list-group-item">O bien solicita información a nuestro correo <a href="MAILTO:MEZCALESDECALIDAD@HOTMAIL.COM">MEZCALESDECALIDAD@HOTMAIL.COM</a></li>
            </ul>
        </div>
        <div class="col-md-6">
          <strong>UBICACIÓN:</strong><br>
            CALLE MÉXICO S/N <br>
TEÚL DE GONZALEZ ORTEGA, ZACATECAS
              <div id="map-canvas" style="width:500px; height:400px;"></div>
            </div>
    </div>
    </section>
    <script
      src="https://maps.googleapis.com/maps/api/js">
    </script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(21.4599964,-103.4654631),
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var place = new google.maps.LatLng(21.4599964,-103.4654631);
        marker = new google.maps.Marker({
            position:place,
            title:"Cabañas Don Aurelio",
            map:map
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
 <br>
<br>
    </div>
