{{extend 'layout.html'}}
<link rel="stylesheet" href="/CabanasDonAurelio/static/css/estilos.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<section id="h" data-type="parallax_section" data-speed="10">
    <article>
        <div id="geek"></div>
        <h2 fixed>Página: 1</h2>
    </article>
</section>
<section id="section2" data-type="parallax_section" data-speed="10">
    <article>
        <div id="geek"></div>
        <h2>Página: 2</h2>
    </article>
</section>
<section id="section3" data-type="parallax_section" data-speed="10">
    <article>
        <div id="geek"></div>
        <h2>Página: 3</h2>
    </article>
</section>
