{{extend 'layout.html'}}
{{block head}}
<header class="container-fluid background">
      <div class="jumbotron text-center" >
        {{if response.title:}}
          <h1>
              </br>
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
    <h1 align= "center">
        ¿QUIENES SOMOS?
    </h1>
</br>
</br>
    <p align="center">
            "CABAÑAS DON AURELIO" es un espacio ecologico de ambiente familiar en el cual usted puede bla. bla. bla.
    </p>

{{end}}

{{block body}}


{{end}}
